@{
    ViewBag.Title = "Quản lý thuê và trả đĩa";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}
<div class="section" ng-controller="QuanLyThueTraDiaCtrl">

    <div class="fade modal" id="thue-dia-modal" tabindex="-1" role="dialog" aria-labelledby="dekete-disk-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="add-customer-label">Thuê đĩa</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mã đĩa</label>

                                <div class="col-sm-9">
                                    <input type="text" ng-keyup="timDia($event)" class="form-control" ng-model="maDiaThue" />
                                </div>
                            </div>

                        </form>
                    </div>
                    <h5>Thông tin chi tiết của đĩa</h5>
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="ho-va-ten" class="col-sm-3 control-label">Tiêu đề</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-model="diaFindResult.TieuDe.Ten" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sdt" class="col-sm-3 control-label">Danh mục</label>

                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-model="diaFindResult.TieuDe.DanhMuc.TenDanhMuc" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dia-chi" class="col-sm-3 control-label">Giá thuê</label>
                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-model="diaFindResult.TieuDe.DanhMuc.GiaThue" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dia-chi" class="col-sm-3 control-label">Thời gian thuê</label>

                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-model="diaFindResult.TieuDe.DanhMuc.ThoiGianThue" />
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" ng-disabled="!diaFindResult" class="btn btn-primary" ng-click="confirmThueDia()">Thuê</button>
                </div>
            </div>
        </div>
    </div>


    <div class="fade modal" id="pay-phi-tre-modal" tabindex="-1" role="dialog" aria-labelledby="dekete-customer-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete-customer-label">Thanh toán</h4>
                </div>
                <div class="modal-body">
                    <h4 class="danger">Bạn có chắc chắn muốn thanh toán!</h4>
                    <h4>Tổng phí trễ: <strong>{{tongPhiTre}}</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmThanhToanPhiTre()">Có</button>
                </div>
            </div>
        </div>
    </div>

    <div class="fade modal" id="delete-dia-thue-modal" tabindex="-1" role="dialog" aria-labelledby="dekete-customer-label">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delete-customer-label">Trả đĩa</h4>
                </div>
                <div class="modal-body">
                    <h4 class="danger">Bạn có chắc chắn muốn trả đĩa!</h4>
                    <h4>Tổng phí trễ: <strong>{{tongPhiTre}}</strong></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-default" ng-disabled="tongPhiTre <= 0" ng-click="confirmTraDia()">Có nhưng không trả phí trễ</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmTraDiaCoPhiTre()">Có</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-bottom">
        <div class="col-md-12">
            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search"
                           ng-model="maKhachHangKeyword"
                           ng-keyup="timKiemKhachHangKeycode($event)"
                           class="form-control  " placeholder="Tìm kiếm theo mã khách hàng">
                    <div class="input-group-btn">
                        <button type="button"
                                ng-click="timKiemKhachHangBtn()"
                                name="submit" class="btn btn-primary ">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <!-- /.input-group -->
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12  col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <p class="box-title">Thông tin chi tiết khách hàng</p>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="body-box-info">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="ho-va-ten-view" class="col-sm-3 control-label">Mã khách hàng</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" ng-model="khachHang.MaKhachHang" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ho-va-ten-view" class="col-sm-3 control-label">Họ và tên</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" ng-disabled="true" ng-model="khachHang.Ten" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="sdt-view" class="col-sm-3 control-label">Số điện thoại</label>

                                <div class="col-sm-9">
                                    <input type="tel" class="form-control" ng-disabled="true" ng-model="khachHang.SoDienThoai" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dia-chi-view" class="col-sm-3 control-label">Địa chỉ</label>

                                <div class="col-sm-9">
                                    <textarea class="form-control" ng-disabled="true" ng-model="khachHang.DiaChi" rows="4"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-12 ">
                        <button class="btn btn-primary pull-right" ng-disabled="!khachHang" data-toggle="modal" data-target="#thue-dia-modal">Thuê đĩa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12  col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <p class="box-title">Danh sách các đĩa đang thuê</p>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="body-box-info">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>Mã số đĩa</th>
                                    <th>Tiêu đề</th>
                                    <th>Ngày thuê</th>
                                    <th>Ngày phải trả</th>
                                    <th>Phí trễ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dia in dsDiaThue track by $index">
                                    <th>
                                        <input type="checkbox" ng-model="dia.isDelete" />
                                    </th>
                                    <th>{{dia.MaDia}}</th>
                                    <th>{{dia.Dia.TieuDe.Ten}}</th>
                                    <th>{{dia.NgayThue | date: "dd/MM/yyyy"}}</th>
                                    <th>{{dia.NgayPhaiTra | date: "dd/MM/yyyy"}}</th>
                                    <th>{{dia.PhiTre}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-12">
                        <button class="btn btn-sm pull-left" data-toggle="modal" data-target="#delete-dia-thue-modal" ng-click="tinhTongPhiTre()">
                            Trả đĩa
                        </button>
                        <ul style="margin: 0"
                            uib-pagination
                            ng-change="diaThuePageChange()"
                            total-items="dsDiaThuePaginaion.total"
                            ng-model="dsDiaThuePaginaion.model"
                            max-size="dsDiaThuePaginaion.maxSize"
                            items-per-page="dsDiaThuePaginaion.itemsPerPage"
                            class="pagination-sm pull-right"
                            boundary-link-numbers="true"
                            rotate="false"></ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6  col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <p class="box-title">Danh sách phí trả trễ</p>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="body-box-info">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>Mã số đĩa</th>
                                    <th>Tiêu đề</th>
                                    <th>Ngày thuê</th>
                                    <th>Ngày thực trả</th>
                                    <th>Phí trễ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="dia in dsPhiTre track by $index"
                                    ng-click="dsPhiTreSelected(dia)">
                                    <th>
                                        <input type="checkbox" ng-model="dia.isDelete" />
                                    </th>
                                    <th>{{dia.MaDia}}</th>
                                    <th>{{dia.Dia.TieuDe.Ten}}</th>
                                    <th>{{dia.NgayThue | date: "dd/MM/yyyy"}}</th>
                                    <th>{{dia.NgayThucTra | date: "dd/MM/yyyy"}}</th>
                                    <th>{{dia.PhiTre}}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-12">
                        <button class="btn  btn-sm pull-left" data-target="#pay-phi-tre-modal" ng-click="tinhTongPhiTre(2)" data-toggle="modal">
                            Thanh toán phí trễ
                        </button>
                        <ul style="margin: 0"
                            uib-pagination
                            ng-change="phiTrePageChange()"
                            total-items="dsPhiTrePaginaion.total"
                            ng-model="dsPhiTrePaginaion.model"
                            max-size="dsPhiTrePaginaion.maxSize"
                            items-per-page="dsPhiTrePaginaion.itemsPerPage"
                            class="pagination-sm pull-right"
                            boundary-link-numbers="true"
                            rotate="false"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6  col-sm-12">
            <div class="box box-primary">
                <div class="box-header">
                    <p class="box-title">Chi tiết phí trễ</p>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" id="body-box-info">
                    <div class="box-body" id="body-box-thong-tin-phi-tre">
                        <div class="col-md-12">
                            <h3>Phí: <strong>{{chiTietPhiTre.PhiTre}}</strong></h3>
                            <hr />
                            <p><strong>Thông tin Khách hàng</strong></p>
                            <p>Anh (chị): <strong>{{chiTietPhiTre.KhachHang.Ten}}</strong></p>
                            <p>Mã khách hàng: <strong>{{chiTietPhiTre.KhachHang.MaKhachHang}}</strong></p>
                            <p>Số điện thoại: <strong>{{chiTietPhiTre.KhachHang.SoDienThoai}}</strong></p>
                            <p>Địa chỉ: <strong>{{chiTietPhiTre.KhachHang.DiaChi}}</strong></p>
                            <hr />
                            <p><strong>Thông tin đĩa</strong></p>
                            <p>Tên đĩa: <strong>{{chiTietPhiTre.Dia.TieuDe.Ten}}</strong></p>
                            <p>Mã đĩa: <strong>{{chiTietPhiTre.Dia.MaDia}}</strong></p>
                            <p>Ngày thuê: <strong>{{chiTietPhiTre.NgayThue | date: "dd/MM/yyyy"}}</strong></p>
                            <p>Ngày phải trả: <strong>{{chiTietPhiTre.NgayPhaiTra | date: "dd/MM/yyyy"}}</strong></p>
                            <p>Ngày trả thực: <strong>{{chiTietPhiTre.NgayThucTra | date: "dd/MM/yyyy"}}</strong></p>
                            <p>Trạng thái: <strong>{{chiTietPhiTre.DaThanhToanPhiTre ? 'Đã thanh toán phí trể' : 'Chưa thanh toán phí trễ'}}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

